*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--cell-size: 100px;
	--mark-size: calc(var(--cell-size) * .5);
	--strikethrough-color: rgb(250, 251, 251);

	--score-board-color: rgb(22, 160, 133);
	--message-div-color: rgb(241, 196, 15);
	--restart-btn-color: rgb(231, 76, 60);
	--cell-border-color: rgb(44, 62, 80);
	--cell-background-color: rgb(52, 73, 94);
	--o-color: rgb(74, 197, 235);
	--x-color: rgb(255, 100, 100);
	--text-color: rgb(52, 73, 94);
}

/* SCORE-BOARD */
.score-board {
	height: 7vh;
	width: 100%;
	background-color: var(--score-board-color);
	font-size: 1.75rem;
	color: #fff;
	font-weight: bold;
	padding: 0 1rem;
	margin-bottom: 2.5rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.score-board-span {
	font-size: 2rem;
}

/* TITLE */
.title {
	font-size: 3.5rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: var(--text-color);
	font-family: Arial, Helvetica, sans-serif;
}

/* MAIN */
.main {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 3.5rem;
}

.round-div {
	color: var(--text-color);
	font-size: 2rem;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;

	margin: 1.5rem 0;
}

/* GAME BOARD */
.game-board {
	width: calc(var(--cell-size) * 3);
	height: calc(var(--cell-size) * 3 + 64px + 64px);
	border-radius: 15px;
}

.message-div {
	background-color: var(--message-div-color);
	width: 100%;
	height: 64px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;

	color: #fff;
	font-size: 1.5rem;
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;
}

.cells {
	position: relative;

	background-color: var(--cell-background-color);
	width: 100%;
	height: 70%;

	display: grid;
	grid-template-columns: repeat(3, var(--cell-size));
	grid-template-rows: repeat(3, var(--cell-size));
}

.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	background-color: var(--cell-background-color);
	border: 2px solid var(--cell-border-color);

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
}

.restart-btn {
	background-color: var(--restart-btn-color);
	width: 100%;
	height: 64px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;

	border: none;
	outline: none;

	color: #fff;
	font-size: 1.15rem;
	font-weight: bold;

	cursor: pointer;
	pointer-events: none;
}

/* MARKS */
.cell.x::before,
.cell.x::after {
	content: '';
	width: calc(var(--mark-size) * .15);
	height: var(--mark-size);
	background-color: var(--x-color);
	position: absolute;
}

.cell.x::before {
	transform: rotate(45deg);
}

.cell.x::after {
	transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after {
	content: '';
	border-radius: 50%;
	position: absolute;
}

.cell.o::before {
	width: var(--mark-size);
	height: var(--mark-size);
	background-color: var(--o-color);
}

.cell.o::after {
	width: calc(var(--mark-size) * .8);
	height: calc(var(--mark-size) * .8);
	background-color: var(--cell-background-color);
}

/* STRIKETHROUGHS */
.game-board.s0 .strikethrough {
	width: 0;
	height: 5px;
	background-color: var(--strikethrough-color);
	position: absolute;
	top: calc(var(--cell-size) / 2);
	z-index: 10;
	animation: strikethrough-horizontal .5s linear;
	animation-fill-mode: forwards;
}

.game-board.s1 .strikethrough {
	width: 0;
	height: 5px;
	background-color: var(--strikethrough-color);
	position: absolute;
	top: calc(var(--cell-size) * 3/2);
	z-index: 10;
	animation: strikethrough-horizontal .5s linear;
	animation-fill-mode: forwards;
}

.game-board.s2 .strikethrough {
	width: 0;
	height: 5px;
	background-color: var(--strikethrough-color);
	position: absolute;
	top: calc(var(--cell-size) * 5/2);
	z-index: 10;
	animation: strikethrough-horizontal .5s linear;
	animation-fill-mode: forwards;
}

@keyframes strikethrough-horizontal {
	0% {
		width: 0;
	}

	100% {
		width: calc(var(--cell-size) * 3);
	}
}

.game-board.s3 .strikethrough {
	width: 5px;
	height: 0;
	background-color: var(--strikethrough-color);
	position: absolute;
	left: calc(var(--cell-size) / 2);
	z-index: 10;
	animation: strikethrough-vertical .5s linear;
	animation-fill-mode: forwards;
}

.game-board.s4 .strikethrough {
	width: 5px;
	height: 0;
	background-color: var(--strikethrough-color);
	position: absolute;
	left: calc(var(--cell-size) * 3/2);
	z-index: 10;
	animation: strikethrough-vertical .5s linear;
	animation-fill-mode: forwards;
}

.game-board.s5 .strikethrough {
	width: 5px;
	height: 0;
	background-color: var(--strikethrough-color);
	position: absolute;
	left: calc(var(--cell-size) * 5/2);
	z-index: 10;
	animation: strikethrough-vertical .5s linear;
	animation-fill-mode: forwards;
}

@keyframes strikethrough-vertical {
	0% {
		height: 0;
	}

	100% {
		height: calc(var(--cell-size) * 3);
	}
}

.game-board.s6 .strikethrough {
	width: 0;
	height: 5px;
	background-color: var(--strikethrough-color);
	position: absolute;
	z-index: 10;
	transform: rotate(45deg);
	transform-origin: 0;
	animation: strikethrough-diagonal .5s linear;
	animation-fill-mode: forwards;
}

.game-board.s7 .strikethrough {
	width: 0;
	height: 5px;
	background-color: var(--strikethrough-color);
	position: absolute;
	bottom: 0;
	z-index: 10;
	transform: rotate(-45deg);
	transform-origin: 0;
	animation: strikethrough-diagonal .5s linear;
	animation-fill-mode: forwards;
}

@keyframes strikethrough-diagonal {
	0% {
		width: 0;
	}
	100% {
		width: calc(var(--cell-size) * 3 * 1.4142);
	}
}
